{# {% extends 'base.html.twig' %} #}
<h2>{Concours créatif}</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Envoyer') }}</button>
{{ form_rest(form) }}
{{ form_end(form) }}
