{% extends 'base.html.twig' %}

{% block title %}{Contact}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{contact}</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn">{{ button_label|default('Envoyer') }}</button>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
