{% extends 'base.html.twig' %}

{% block title %}{oneTwoFree} contact{% endblock %}

{% block body %}
    <h1>{contact}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Envoyer') }}</button>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
